# Ignore Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environments
venv/
ENV/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
